# Assignment 3

Welcome to Assignment 3. This will be even more fun. Now we will calculate statistical measures on the test data you have created.

YOU ARE NOT ALLOWED TO USE ANY OTHER 3RD PARTY LIBRARIES LIKE PANDAS. PLEASE ONLY MODIFY CONTENT INSIDE THE FUNCTION SKELETONS
Please read why: https://www.coursera.org/learn/exploring-visualizing-iot-data/discussions/weeks/3/threads/skjCbNgeEeapeQ5W6suLkA
. Just make sure you hit the play button on each cell from top to down. There are seven functions you have to implement. Please also make sure than on each change on a function you hit the play button again on the corresponding cell to make it available to the rest of this notebook.
Please also make sure to only implement the function bodies and DON'T add any additional code outside functions since this might confuse the autograder.

So the function below is used to make it easy for you to create a data frame from a cloudant data frame using the so called "DataSource" which is some sort of a plugin which allows ApacheSpark to use different data sources.

All functions can be implemented using DataFrames, ApacheSparkSQL or RDDs. We are only interested in the result. You are given the reference to the data frame in the "df" parameter and in case you want to use SQL just use the "spark" parameter which is a reference to the global SparkSession object. Finally if you want to use RDDs just use "df.rdd" for obtaining a reference to the underlying RDD object. 

Let's start with the first function. Please calculate the minimal temperature for the test data set you have created. We've provided a little skeleton for you in case you want to use SQL. You can use this skeleton for all subsequent functions. Everything can be implemented using SQL only if you like.

In [53]:
def minTemperature(df,spark):
    df.createOrReplaceTempView("washing");
    return spark.sql("SELECT MIN(temperature) as mintemp from washing").first().mintemp

Please now do the same for the mean of the temperature

In [54]:
def meanTemperature(df,spark):
    df.createOrReplaceTempView("washing");
    return spark.sql("SELECT AVG(temperature) as meantemp from washing").first().meantemp

Please now do the same for the maximum of the temperature

In [55]:
def maxTemperature(df,spark):
    df.createOrReplaceTempView("washing");
    return spark.sql("SELECT MAX(temperature) as maxtemp from washing").first().maxtemp

Please now do the same for the standard deviation of the temperature

In [56]:
def sdTemperature(df,spark):
    df.createOrReplaceTempView("washing");
    return spark.sql("SELECT  STDDEV(temperature) as SDdev FROM washing").first().SDdev

Please now do the same for the skew of the temperature. Since the SQL statement for this is a bit more complicated we've provided a skeleton for you. You have to insert custom code at four position in order to make the function work. Alternatively you can also remove everything and implement if on your own. Note that we are making use of two previously defined functions, so please make sure they are correct. Also note that we are making use of python's string formatting capabilitis where the results of the two function calls to "meanTemperature" and "sdTemperature" are inserted at the "%s" symbols in the SQL string.

In [47]:
def skewTemperature(df,spark):    
    df.createOrReplaceTempView("washing");
    return spark.sql("SELECT skewness(temperature) as skew FROM washing").first().skew

Kurtosis is the 4th statistical moment, so if you are smart you can make use of the code for skew which is the 3rd statistical moment. Actually only two things are different.

In [63]:
def kurtosisTemperature(df,spark):    
    df.createOrReplaceTempView("washing");
    return spark.sql("SELECT kurtosis(temperature) as kurt FROM washing").first().kurt

Just a hint. This can be solved easily using SQL as well, but as shown in the lecture also using RDDs.

In [50]:
def correlationTemperatureHardness(df,spark):
    df.createOrReplaceTempView("washing");
    return spark.sql("SELECT corr(temperature, hardness) as corr FROM washing").first().corr

### PLEASE DON'T REMOVE THIS BLOCK - THE FOLLOWING CODE IS NOT GRADED
#axx
### PLEASE DON'T REMOVE THIS BLOCK - THE FOLLOWING CODE IS NOT GRADED

Now it is time to connect to the object store and read a PARQUET file and create a dataframe out of it. We've created that data for you already. Using SparkSQL you can handle it like a database.

In [ ]:
# The code was removed by Watson Studio for sharing.

In [2]:
df.createOrReplaceTempView("washing");
spark.sql("SELECT temperate FROM washing where temperature is not null")

NameError: name 'df' is not defined

In [57]:
minTemperature(df,spark)

80

In [58]:
meanTemperature(df,spark)

90.03800298062593

In [59]:
maxTemperature(df,spark)

100

In [60]:
sdTemperature(df,spark)

6.1007610586219725

In [61]:
skewTemperature(df,spark)

0.010410008042945581

In [64]:
kurtosisTemperature(df,spark)

-1.2239269305786886

In [65]:
correlationTemperatureHardness(df,spark)

0.017754069047296324

Congratulations, you are done, please download this notebook as python file using the export function and submit is to the gader using the filename "assignment3.1.py"